<div class="d-grid gap-2 col-3 ms-auto mb-3">
    <a [routerLink]="['', 'user', 'create']" class="btn btn-primary"> สร้าง </a>
</div>

<div class="item" *ngIf="!users?.length">
    <!-- appearance="circle" -->
    <ngx-skeleton-loader [count]="9"></ngx-skeleton-loader>
</div>

<table class="table table-bordered table-hover" *ngIf="users?.length">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <!-- <th>Avatar</th> -->
            <th>Name</th>
            <th>Create At</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="text-center"> {{ user.index }} </td>
            <!-- <td>
            <img [src]="user.avatar" alt="avatar">
            {{ user.avatar }}
            </td> -->
            <td> {{ user.name }} </td>
            <td> {{ user.createdAt | date: 'dd-MM-yyyy HH:mm' }} </td>
            <td class="text-center">
                <a class="text-warning me-2" [routerLink]="['', 'user', 'update', user.id]">
                    <i class="fas fa-edit "></i> แก้ไข
                </a>
                <a class="text-danger me-2" (click)="alertDelete(user)">
                    <i class="fas fa-trash"></i> ลบ
                </a>
            </td>
        </tr>
    </tbody>
</table>